.bdy{
    background-color: rgb(255, 255, 255);
    margin-left: 300px;
  
  }
  
  .crd{
    background-color: rgb(194, 180, 153);
    color: white;
  }
  .but{
    background-color: rgb(42, 34, 27);
    color: white;
  }
  