.body{
    background-color: rgb(255, 255, 255);
    
  
  }
  
  .crd{
    background-color: #a79271d2;
    color: white;
  }
  .but{
    background-color: rgb(11, 11, 11);
    color: white;
  }
  
  .contain{
    display: flex;
    justify-content: center;
  }

  .newlist{
    min-width: 15cm;
    min-height: 9cm;
    
  }

  h2 {
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 0;
    margin-bottom: 20px; /* Adjust as needed for spacing */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }