<app-lowernav></app-lowernav>
<div class="contain">

  <div class=" mt-3">
    <img src="../../assets/images/neethidevatha.png" alt="nthing" style="height: 15cm;">
  </div>

  <div class="card mt-5 pt-4 crd newlist " style="height: 29rem;">
  <div class=" card-body ">
    <app-lower-new-cases></app-lower-new-cases>
  </div>
  </div>

  <div class="d-flex flex-column align-items-center mt-5">

      <div class="card text-center  p-4  crd" style="width: 25rem;height: 14rem; font-family: 'Montserrat';">
          <div class="card-body">
            <h2 class="card-title"><b>COMPLETED CASES</b></h2>
            <h3 class="card-text"><b>{{completedcasesCount}}</b></h3>
          </div>
        </div>

        <div class="card text-center m-3 p-4  crd" style="width: 25rem;height: 14rem;font-family: 'Montserrat';">
          <div class="card-body">
            <h2 class="card-title"><b>PENDING</b></h2>
            <h3 class="card-text"><b>{{pendingcasesCount}}</b></h3>
           <div class="mt-3">
              <a href="/lowerpending" class="btn but -3">Go to Pending</a>
           </div>
          </div>
        </div>
  </div>

  <p class="bottom-item">I Pledge , “That I will truly and honestly demean myself in the practice of an attorney, according to the best of my knowledge and ability”</p>
</div>



<app-lowerchart></app-lowerchart>

