<app-lowernav></app-lowernav>
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">C01</h5>
        <p class="card-text">CASE DETAILS. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe a nulla nostrum aliquid atque est dolorem at ipsa reiciendis, quod sequi. Rerum, aut sunt impedit exercitationem distinctio a animi magni!</p>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident suscipit amet repellendus debitis nostrum veniam cupiditate praesentium quisquam, nesciunt ratione excepturi, at tenetur inventore! Asperiores harum molestias est natus inventore.</p>
        <button class="btn1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">UPLOAD REPORT</button>
        <br>
        <button class="btn1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">SUBMIT</button>
       

      </div>
    </div>
  </div>
  </div>
  