
<nav class="navbar navbar-expand-lg bg-very-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <img class="img-responsive logo" src="assets/images/logo.png">
    <a class="navbar-brand" href="#">
      <h4><b>ADALAT </b><b style="color: rgb(205, 181, 122);"> TRAIL</b></h4>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [class.activeLink]="isActiveRoute('/home')" href="/home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.activeLink]="isActiveRoute('/maininter')" href="/maininter">CASE LIST</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.activeLink]="isActiveRoute('/pending')" href="/pending">PENDING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.activeLink]="isActiveRoute('/courtlist')" href="/courtlist">COURT LIST</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        
        <button class="btn btn-outline-warning" type="submit" (click)="logout()">logout</button>
      </form>
    </div>
  </div>
</nav>
