<app-navbar></app-navbar>
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{myCase?.Case_no}}</h5>
        <p class="card-text">CASE TITLE: {{myCase?.title}}</p>
        <p class="card-text">CASE DESCRIPTION: {{myCase?.description}}</p>
        

      @if(myCase?.assign == "NO"){
        <div>
        <div class="m-4">
          <app-fileupload></app-fileupload>
        </div>
        <div class="d-flex gap-2 mb-3 ">
          <button class="btn btn-sm btn-success"(click)="editCase()">Edit</button>
          
          <button class="btn btn-sm btn-danger"(click)="removeCase()">Remove</button>
        </div>
        <button class="btn1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" (click)="getAllCourts()">Assign</button>
      </div>
    }
    @else {
      <p>case assigned to court..</p>
    }

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Available Temporary Courts</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">

            <ul class="list-group" *ngFor="let court of courtlist">
              @if (court.role == "lower_user") {
                <li class="list-group-item">CN: {{court.username}}{{myCase?.key}}
                    <button class="btn btn2" type="button" (click)="assign(court.key!)">Assign</button>
                </li>
              }
              </ul>
              
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">DOWNLOAD CASE REPORT</h5>
         <div class="d-flex flex-column align-items-center">
          <!--download case report-->
          <button [disabled]="myCase?.comp == 'NO'"class="btn btn-success" (click)="downloadFile()">Case Report</button>
          @if(myCase?.comp == 'NO'){
            <p>waiting for lowercourt to submit report..</p>
          }
          
         @else{
          <div class="arrow">
            <i class="fa-solid fa-hand-pointer"></i>
          </div>
          <div>
            Click above to download the Case Report.
          </div>
        }
      </div>
    </div>
    
    </div>
  </div>
</div>