.bdy{
  background-color: rgb(255, 255, 255);
  background-image: url("/assets/images/bg.jpg");
  align-items: center;
  min-height: 900px;
  display: flex;
  vertical-align: auto;
}

.crd{
  background-color: rgb(194, 180, 153);
  color: white;
}
.but{
  background-color: rgb(42, 34, 27);
  color: white;
}
