.bdy{
  background-color: rgb(255, 255, 255);
  background-image: url("/assets/images/bg.jpg");
  align-items: center;
  min-height: 12cm;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  vertical-align: auto;
}

.crd{
  background-color: rgb(194, 180, 153);
  color: white;
  opacity: 80%;
}
.but{
  background-color: rgb(42, 34, 27);
  color: white;
}
